<div class="info-container">
  <div class="item">
    <span class="text">Text notifications: </span>
    <span class="text">{{
      user?.settings?.notifications?.text ? "true" : "false"
    }}</span>
  </div>
  <div class="item">
    <span class="text">Email notifications: </span>
    <span class="text">{{
      user?.settings?.notifications?.email ? "true" : "false"
    }}</span>
  </div>
  <div class="item">
    <span class="text">Theme: </span>
    <span class="text">{{ user?.settings?.theme || "" }}</span>
  </div>
  <div class="item">
    <button (click)="logout()">Log Out</button>
    <button (click)="delete()" class="delete-button">Delete</button>
  </div>
</div>
