.container {
  display: flex;
  height: 95vh;
}

.links {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 95vh;
  justify-content: flex-start;
  background-color: var(--border-dark);
  position: fixed;
}

.link {
  margin-top: 1em;
  position: relative;
  background-color: transparent;
  border: none;
  color: var(--border-light);
  font-weight: bold;
  font-size: 1em;
  padding: 0.3em;
}

.current {
  background-color: var(--bg-main);
}

.info {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10vw;
}

.info > div {
  margin-top: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--border-light);
}

@media only screen and (max-width: 500px) {
  .links {
    display: none;
  }

  .info {
    margin-left: 0;
    padding: 1em;
  }
}

/* user information styles */

.info-container {
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 1em;
  display: flex;
  position: relative;
}

.item > * {
  margin-left: 0.5em;
}

.delete-button {
  background-color: var(--color-accent);
  border-radius: 5px;
  padding: 0.4em;
  border: none;
  position: absolute;
  right: 0;
}
