<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div
      class="
        bg-secondary
        col-1
        d-none d-xxl-flex
        flex-column
        p-3
        gap-5
        m-1
        rounded
      "
      style="position: fixed"
    >
      <button class="btn btn-info text-white" (click)="scroll(details)">
        Details
      </button>
      <button class="btn btn-info text-white" (click)="scroll(email)">
        Email
      </button>
      <button class="btn btn-info text-white" (click)="scroll(orders)">
        Orders
      </button>
      <button class="btn btn-info text-white" (click)="scroll(settings)">
        Setting
      </button>
    </div>
    <div class="col-xxl-11 offset-xxl-1">
      <div #details class="bg-white m-1 p-4 rounded">
        <app-user-details [user]="user"></app-user-details>
      </div>
      <div #email class="bg-white m-1 p-4 rounded">
        <app-user-email [user]="user"></app-user-email>
      </div>
      <div #orders class="bg-white m-1 p-4 rounded">
        <app-orders></app-orders>
      </div>
      <div #settings class="bg-white m-1 p-4 rounded">
        <app-user-settings [user]="user"></app-user-settings>
      </div>
    </div>
  </div>
</div>
