<header>

  <a [routerLink]="['/home']" class="logo">
    <img class="logoImg" src="../../../assets/logo.svg" alt="" />
  </a>

  <div class="textInput">
    <img class="searchImg" src="../../../assets/search.svg" />
    <input
      type="text"
      id="search"
      [placeholder]="'search'"
      (keydown.enter)="searchInput($event)"
    />
  </div>

  <button *ngIf="!isAuthenticated">
    <a [routerLink]="['/login']">Sign In</a>
  </button>
  <a *ngIf="isAuthenticated" [routerLink]="['/account']">
    <fa-icon [icon]="faUser"></fa-icon>
  </a>
</header>
