header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em 0.5em 2em;
  align-items: center;
  border-bottom: 3px solid var(--border-light);
  height: 7vh;
  position: sticky;
  top: 0;
}

.logo {
  display: inline-block;
  flex-grow: 1;
}

img {
  max-height: 3em;
  max-width: 40%;
  min-width: 6em;
}

button {
  display: inline-block;
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  padding: 0.3em;
}

button a {
  text-decoration: none;
  color: white;
}

fa-icon {
  color: var(--color-accent);
  font-size: 1em;
}

@media (min-width: 450px) {
  button a {
    font-size: 1.5em;
  }

  fa-icon {
    color: var(--color-accent);
    font-size: 2em;
  }
}
