<app-header></app-header>
<div
  class="d-flex flex-column flex-lg-row p-0"
  style="min-height: 100%"
  (click)="reload()"
>
  <div class="col-lg-2 bg-color-main p-4">
    <ul style="list-style-type: none" class="m-0 p-0">
      <li class="my-4">
        <div>Filter By Rating</div>
        <fa-icon
          [icon]="faStar"
          *ngFor="let item of createRange(5); let i = index"
          class="fs-5 px-0 px-xl-1"
          (click)="filterRating(i + 1)"
          [style.color]="
            i + 1 <= currentRatingFilter ? 'var(--color-accent)' : 'gray'
          "
        ></fa-icon>
      </li>
      <li>
        <label for="priceSlider" class="form-label">Filter by Price</label>
        <input
          type="range"
          aria-label="priceSlider"
          min="1"
          max="4"
          value="4"
          id="priceSlider"
          class="form-range"
          (change)="filterPrice($event)"
        />
      </li>
    </ul>
  </div>
  <!-- Restaurants -->
  <div class="col-lg-10">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-end border-bottom px-3 py-2">
        <!-- Tags would go here -->
        <span class="d-flex align-items-center px-1 fs-5 color-color-accent"
          >Sort:</span
        >
        <select
          name="sortSelect"
          id="sortSelect"
          class="form-select form-select-sm"
          style="max-width: 150px"
          #sortSelect
          (change)="sortData(sortSelect.value)"
        >
          <option value="name">Name</option>
          <option value="rating">Rating</option>
          <option value="price">Price</option>
          <option value="delivery time">Delivery Time</option>
        </select>
      </div>
      <app-restaurant-display
        *ngFor="let restaurant of searchResults"
        [restaurant]="restaurant"
        (click)="openRestaurant(restaurant)"
        style="cursor: pointer"
      ></app-restaurant-display>
      <div class="d-flex justify-content-center p-3">
        <button class="btn btn-secondary" (click)="prevPage()"><</button>
        <span class="d-flex align-items-center px-2">{{ getPage() }}</span>
        <button class="btn bg-color-main" (click)="nextPage()">></button>
        <select
          name="pageSize"
          id="pageSizeSelect"
          class="form-select form-select-sm mx-2"
          style="max-width: 75px"
          #pageSize
          (change)="changePaging(pageSize.value)"
        >
          <option value="1">1</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
  </div>
</div>
