<form [formGroup]="formGroup">
  <div class="group">
    <div
      *ngIf="
        loginGroup.get('password')?.invalid &&
        loginGroup.get('password')?.touched
      "
      class="warning"
    >
      *password too short
    </div>
    <div class="textInput">
      <fa-icon [icon]="emailIcon"></fa-icon>
      <input
        type="password"
        id="password"
        [placeholder]="'password'"
        formControlName="password"
        tabindex="1"
      />
    </div>
  </div>
  <div class="group">
    <div
      *ngIf="
        loginGroup.get('parityPassword')?.invalid &&
        loginGroup.get('parityPassword')?.touched
      "
      class="warning"
    >
      *password too short
    </div>
    <div class="textInput">
      <fa-icon [icon]="emailIcon"></fa-icon>
      <input
        type="password"
        id="password"
        [placeholder]="''"
        formControlName="parityPassword"
        tabindex="1"
      />
    </div>
  </div>
</form>
