<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h2 class="login">Reset Password</h2>
  <div class="warning">{{ errorMessage }}</div>
  <div class="group">
    <div
      *ngIf="
        formGroup.get('password')?.invalid && formGroup.get('password')?.touched
      "
      class="warning"
    >
      *password too short
    </div>
    <div class="textInput">
      <input
        type="password"
        id="password"
        [placeholder]="'password'"
        formControlName="password"
        tabindex="1"
      />
    </div>
  </div>
  <div class="group">
    <div class="textInput">
      <input
        type="password"
        id="partityPassword"
        [placeholder]="'password'"
        formControlName="parityPassword"
        tabindex="1"
      />
    </div>
  </div>
  <button *ngIf="!hasSubmitted" type="submit" tabindex="9">Reset</button>
  <span *ngIf="hasSubmitted">Loading</span>
  <a class="signup" [routerLink]="['/account/login']">Login</a>
</form>
