<app-header></app-header>

<div class="container-fluid bg-bg-main p-0" style="min-height: 100%">
  <div class="hero">
    <span class="bg-circles">
      <img class="big-circle" src="../../../assets/CircleBlue.svg" alt="" />
      <img class="small-circle" src="../../../assets/Circle.svg" alt="" />
    </span>
    <img
      class="hero-img"
      src="../../../assets/hero-img.png"
      alt="image showing takeout conatiners"
    />
    <div class="hero-text">Restaurants and more, delivered to your door</div>
  </div>
  <div class="search bg-color-accent">
    <input
      class="input"
      type="text"
      name="search"
      placeholder="Enter delivery address"
    />
    <button class="button">Find</button>
  </div>
  <div class="cards bg-color-main py-4">
    <h2
      class="text-center text-white fs-1 fw-bold"
      style="text-shadow: 2px 2px var(--bg-main)"
    >
      Why We're Great
    </h2>
    <div
      class="
        p-5
        mx-lg-5
        d-flex
        gap-5
        justify-content-around
        flex-column flex-lg-row
      "
    >
      <div class="card bg-bg-main">
        <div class="card-body px-5">
          <div class="card-title fs-1 text-center color-color-accent fw-bold">
            Organic
          </div>
          <div class="card-text text-center fs-5 fs-md-4 text-white fw-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            consequuntur dolores ad, neque, maxime quo ut corrupti asperiores
            non eos, ipsum voluptatem possimus voluptatum aspernatur impedit.
            Qui nobis temporibus dolorum.
          </div>
        </div>
      </div>
      <div class="card bg-bg-main">
        <div class="card-body px-5">
          <div class="card-title fs-1 text-center color-color-accent fw-bold">
            Uhhh
          </div>
          <div class="card-text text-center fs-5 fs-md-4 text-white fw-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            consequuntur dolores ad, neque, maxime quo ut corrupti asperiores
            non eos, ipsum voluptatem possimus voluptatum aspernatur impedit.
            Qui nobis temporibus dolorum.
          </div>
        </div>
      </div>
      <div class="card bg-bg-main">
        <div class="card-body px-5">
          <div class="card-title fs-1 text-center color-color-accent fw-bold">
            Pay us
          </div>
          <div class="card-text text-center fs-5 fs-md-4 text-white fw-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            consequuntur dolores ad, neque, maxime quo ut corrupti asperiores
            non eos, ipsum voluptatem possimus voluptatum aspernatur impedit.
            Qui nobis temporibus dolorum.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
