<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Order Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click'); loading = false;">
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="this.orderDetails.enabled"
          [formGroup]="orderDetails"
          (keyup)="orderDetails.updateValueAndValidity()">
      <div class="form-group">
        <label for="restaurantNote">Restaurant Note</label>
        <input type="text" class="form-control" id="restaurantNote" formControlName="restaurantNote">
      </div>
      <div class="form-group">
        <label for="driverNote">Delivery Instructions</label>
        <input type="text" class="form-control" id="driverNote" formControlName="driverNote">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="loading !== true" type="button" class="btn btn-success me-auto"
            (click)="placeOrder(); loading = true;">
      Place Order
    </button>
    <button *ngIf="loading === true" type="button" disabled
            class="btn btn-success me-auto">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span> Loading...</span>
    </button>
    <button type="button" class="btn btn-light"
            (click)="modal.dismiss('dismiss click'); loading = false;">
      Close
    </button>
  </div>
</ng-template>

<app-header></app-header>

<div class="p-0 bg-white p-2">
  <div *ngIf="foodOrders.length === 0" class="alert alert-info">
    Your Cart is Empty.
  </div>

  <div *ngIf="foodOrders.length > 0">
    <div class="container bg-border-light rounded p-4">
      <div class="row p-2 g-3">
        <ng-container *ngFor="let foodOrder of foodOrders;">
          <app-cart-item
            *ngFor="let item of foodOrder.items"
            [orderItem]="item"
            [restaurantId]="foodOrder.restaurantId"
            class="col-md-6"
          ></app-cart-item>
        </ng-container>
      </div>
      <!--check out information-->
      <div class="row border-bottom border-top border-dark my-3 p-2 g-2">
        <div class="col-12">
          <select
            [(ngModel)]="selectedDelivery"
            class="form-select form-select-sm"
            aria-label=".form-select-sm"
          >
            <option
              *ngFor="let option of deliveryTypeList"
              [value]="option.type"
            >
              {{ option.type }}
            </option>
          </select>
        </div>
        <div class="col-12">
          <select
            [(ngModel)]="selectedTime"
            *ngIf="selectedDelivery === 'Delivery'"
            class="form-select form-select-sm"
            aria-label=".form-select-sm"
          >
            <option
              *ngFor="let option of deliveryTimeList"
              [value]="option.type"
            >
              {{ option.type }}
            </option>
          </select>
        </div>
        <div
          class="input-group input-group-sm co"
          *ngIf="selectedDelivery === 'Delivery'"
        >
          <label for="address" class="input-group-text">Address</label>
          <input
            matInput
            matGoogleMapsAutocomplete
            [(ngModel)]="addressInput"
            (ngModelChange)="this.addressValid = false;"
            [country]="['us']"
            (onAutocompleteSelected)="onAutoCompleteSelected ($event)"
            class="form-control"
            id="address"
          />
        </div>
        <app-create-token (clearCart)="clearCart()"></app-create-token>
      </div>
      <div class="row bg-bg-main p-2 rounded mx-1">
        <div class="text-white">
          <strong>Total</strong> {{ cartTotal | currency: "USD" }}
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-sm btn-success"
            (click)="openModal(modalContent)"
          >
            Checkout
          </button>
          <button
            type="button"
            class="btn btn-sm btn-dark float-end"
            (click)="clearCart()"
          >
            Clear Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
