
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Order Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <p *ngFor="let orderFood of order.food">{{orderFood.restaurantName}}
      : {{printFood(orderFood)}}</p><strong>Price: </strong> ${{order.price.food / 100}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" [routerLink]= "['/cart']" (click)="reOrder(); modal.close ('Close click')">
      Re-Order
    </button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>

  <div class="row" *ngIf="order.orderTime.delivered !== null">
    <div class="orderImage col-2">
      <img class="img" width="auto" style="max-height: 75px;"
           src="https://e1.pngegg.com/pngimages/435/709/png-clipart-mcdonald-s-french-fries-thumbnail.png"
           alt=""/>
    </div>
    <div class="OrderDetails col-7 text-truncate">
        <span *ngFor="let foodOrder of order?.food">
            | <strong>{{foodOrder.restaurantName}}</strong> |
        </span>
      <div class="row ms-2">
        {{order.orderType.toUpperCase()}} • {{order.address}}
        <br>
        Completed:
        {{order?.orderTime.delivered | date: 'short'}}
      </div>
    </div>
    <div class="OrderOptions col-3">
      <button type="button" class="btn btn-outline-info d-inline-flex p-2 mt-3 float-end"
              (click) = "orderDetails(modalContent)">
        Details
      </button>
    </div>
  </div>

  <div class="row" *ngIf="order.orderTime.delivered === null">
    <div class="orderImage col-2 text-danger">
      <img class="img" width="auto" style="max-height: 75px;"
           src="https://e1.pngegg.com/pngimages/435/709/png-clipart-mcdonald-s-french-fries-thumbnail.png"
           alt=""/>
    </div>
    <div class="OrderDetails col-7 text-truncate text-danger">
        <span *ngFor="let foodOrder of order?.food">
            | <strong>{{foodOrder.restaurantName}}</strong> |
        </span>
      Pending
      <div class="row ms-2 text-danger">
        {{order.orderType.toUpperCase()}} • {{order.address}}
        <br>
        Order Placed: {{order?.orderTime.restaurantAccept | date: 'short'}}
      </div>
    </div>
    <div class="OrderOptions col-3">
      <button type="button" class="btn btn-outline-info d-inline-flex p-2 mt-3 float-end"
              (click) = "orderDetails(modalContent)">
        Details
      </button>
    </div>
  </div>

