<div>
  <div *ngIf="loading" class="spinner-border">
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="!loading">
    <div *ngIf="activated">
      <h2
        class="
          p-4
          color-color-accent
          bg-color-main
          navbar-expand-lg
          w-100
          text-center
        "
      >
        Activation Successful
      </h2>
      <button
        class="btn p-3 btn-primary bg-color-decoration border-color-decoration"
      >
        <a
          [routerLink]="['/account/login']"
          routerLinkActive="router-link-active"
          class="text-decoration-none color-color-dark"
          >Go to login</a
        >
      </button>
    </div>
    <div *ngIf="!activated" class="d-flex flex-column align-items-center">
      <h2
        class="
          p-4
          color-color-accent
          bg-color-main
          navbar-expand-lg
          w-100
          text-center
        "
      >
        Activation Failed, <small class="text-muted">{{ errorMessage }}</small>
      </h2>
      <button
        class="btn p-3 btn-primary bg-color-decoration border-color-decoration"
      >
        <a
          [routerLink]="['/account/register']"
          routerLinkActive="router-link-active"
          class="text-decoration-none color-color-dark"
          >Go to register</a
        >
      </button>
    </div>
  </div>
</div>
