.activate-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-main);
}

.active-loading {
  animation: float 6s ease-in-out infinite;
  color: var(--text-accent);
}

h2 {
  background-color: var(--color-main);
  padding: 1em;
  display: flex;
  justify-content: center;
}

h4 {
  display: flex;
  justify-content: center;
  color: var(--text-accent);
  margin: 1em;
}

.activate-center {
  display: flex;
  justify-content: center;
}

a {
  background-color: var(--border-light);
  border-radius: 10px;
  padding: 0.4em;
  text-decoration: none;
  color: var(--text-dark);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--text-light);
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
