<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  *ngIf="!emailSuccess; else success"
>
  <h2 class="login">Forgot password</h2>
  <div class="group">
    <div
      *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched"
      class="warning"
    >
      *invalid email
    </div>
    <div class="warning">{{ errorMessage }}</div>
    <div class="textInput">
      <fa-icon [icon]="emailIcon"></fa-icon>
      <input
        type="text"
        id="email"
        [placeholder]="'email'"
        formControlName="email"
        tabindex="1"
      />
    </div>
  </div>
  <button type="submit">Reset Password</button>
  <a class="signup" [routerLink]="['/account/login']">Login</a>
</form>
<ng-template #success>
  <form action="">
    <h2>Email sent</h2>
    <p>Check your email and open the link we sent to continue</p>
    <a (click)="resubmit()" class="reset">Send another email</a>
  </form>
</ng-template>
