/* You can add global styles to this file, and also import other style files */
:root {
  --bg-main: #1b9ce5;
  --bg-main-desaturated: #2aa4d2;
  --border-dark: #707070;
  --border-light: #e9e8e8;
  --color-accent: #f79e02;
  --color-main: #6cdaee;
  --color-decoration: #ffbbef;
  --text-light: #6cdaee;
  --text-accent: #f79e02;
  --text-dark: #65828d;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
